:root {
  --noarmalCellColor: #d4d4d4;
  --boardBackgroundColor: #363636;
  --selectedCellColor: #606060;
  --nearNeighbourColor: #929292;
  --farNeighbourColor: rgb(175, 175, 175);

  --background-player1:#cafffd;
  --background-player2:#ffebbf;
  
}

.hexagon {
  position: absolute;
  background-color: var(--boardBackgroundColor);
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.hex-cell {
  position: relative;
  width: 90%;
  height: 90%;
  transition: all 0.3s ease-in-out;
  background-color: var(--boardBackgroundColor);
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.piece {
  position: absolute;
  background-color: #64C7CC;
  // clip-path: circle(50% at 50% 50%);
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  z-index: 10;
}

.hex-board{
  position: relative;
  width: calc(100vw - 2em);
  height: calc(100vw - 2em);
  margin: auto;
}

.progresscontainer {
  height: 20px;
  position: relative;
  width: 100%;
}

.pbar {
  height: 100%;
  transition: all 0.3s ease-in-out;
  position: absolute;
}

.honeyback {
  position:fixed;
  width: 100%;
  height: 100%;
}